* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: white;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	padding: 30px 100px;
	border-bottom: 1px solid #9c9797;
}

header a {
	font-size: 18px;
	text-decoration: none;
	color: #635f5f;
}

header a:hover {
	color: #c99f4f;
	transition: 1s;
}

.logo a {
	font-size: 25px;
	font-weight: bold;
	color: #c99f4f;
}

nav ul {
	display: flex;
	gap: 80px;
	list-style-type: none;
}

#container-book {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 120px 300px;
	margin: 50px 150px;
	/* color: #323131; */
	color: #635F5F;
}

.item-box img {
	height: 280px;
}

.item-box {
	text-align: center;
}

#title {
	padding-top: 20px;
	font-size: 18px;
}

#author {
	padding: 10px 0;
}

button {
	padding: 10px 20px;
	margin: 10px 0;
	font-size: 16px;
	border: none;
	background-color: #c99f4f;
	color: #0a0a0a;
	cursor: pointer;
}

.in-cart {
	background-color: #faa70b;
}

#container-filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-top: 30px;
}

select {
	font-size: 15px;
	border-radius: 10px;
	padding: 4px;
	color: #635f5f;
}

.active {
	font-size: 9px;
	background-color: #c99f4f;
	color: #ffffff;
	padding: 5px;
	border-radius: 50%;
	margin-left: -10px;
}

#container-cart {
	color: #635f5f;
	margin: 45px 0;
}

#container-cart h2 {
	text-align: center;
}

#container-cart table {
	width: 50%;
	margin: 45px auto;
}

#info-empty-cart {
	display: none;
	justify-content: center;
	width: 50%;
	margin: 70px auto;
	padding: 10px 20px;
	font-size: 17px;
	color: #ffffff;
	background-color: #c99f4f;
}

th, td {
	text-align: center;
	padding: 4px 10px;
	border-bottom: solid 1px #858383;
}

th {
	padding-bottom: 15px;
}

.update {
	border: transparent;
}

.btn-delete {
	background-color: transparent;
	color: #635f5f;
}

.img-cart {
	height: 100px;
}

.container-btn {
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
}

#container-summary {
	color: #635f5f;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#container-summary td {
	width: 220px;
}

#container-summary th {
    width: 50%;
}

#container-summary th, td {
    padding: 15px;
}

#container-summary h4 {
	margin: 25px 0;
}

#container-summary button {
	margin-top: 30px;	
}

.total {
	font-weight: bold;
}

#number {
	width: 45px;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 35px;
	border: solid 1px #aba7a7;
	color: #635f5f;
}

#order-btn a {
	text-decoration: none;
	color: #000000;
}

/* order */
.form {
	display: flex;
	flex-direction: column;
	margin: 15px;
	width: 25%;
	color: #635F5F;
}

.form label {
	margin: 15px 0 5px 0;
	font-size: 14px;
}

.form input {
	margin: 3px 0 3px 0;
	padding: 2px;
	line-height: 16px;
}

.address-form {
	display: flex;
	flex-direction: column;
	/* margin: 15px; */
	color: #635F5F;
}

.address-form label {
	margin: 15px 0 5px 0;
	font-size: 14px;
}

.address-form input {
	margin: 3px 0 3px 0;
	padding: 2px;
	line-height: 16px;
}

.hidden {
	visibility: hidden;
}

.nip {
	display: none;
	flex-direction: column;
}

.invoice {
	margin-top: 15px;
}

.another-address {
	display: flex;
} 

.another-address h3 {
	margin-left: 10px;
}

#lastname {
	margin-top: px;
}

#forms {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
	margin: 20px 0 40px 0;
}

#order-summary .payment-method {
	display: flex;
	flex-direction: column;
	color: #635F5F;
}

#order-summary div {
	margin-top: 5px;
}

#order-summary .payment-method input {
	margin: 15px 8px 0 0;
}

#order-summary {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #635f5f;
}

#order-summary td {
	width: 220px;
}

#order-summary th {
    width: 50%;
}

#order-summary th, td {
    padding: 15px;
}

#order-summary h3 {
	margin: 25px 0;
}

#order-summary button {
	margin-top: 30px;	
}

#order-summary p {
	justify-content: center;
	text-align: justify;
	width: 30%;
	margin: 10 px 0;
	font-size: 13px;
}

#order-summary hr {
	margin: 30px 0;
	width: 30%;
	color:#635F5F;
}

#statute input {
	margin-top: 30px;
}

#buy-btn {
	margin-bottom: 40px;
}

.buttons {
	display: flex;
	gap: 15px
}

.error-text {
	font-size: 12px;
	color: rgb(181, 31, 4);
	font-style: italic;
}

.error {
	border: 1px solid rgb(181, 31, 4);
}